<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Gift Listing</title>
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/my.css">
</head>
<body>
    <section ng-view>
    </section>

    <script type="text/javascript" src="/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/libs/angular-resource/angular-resource.js"></script>



    <script type="text/javascript" src="/application.js"></script>
</body>
</html>