<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Gift Listing</title>
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/my.css">
    </head>
    <body>
        <div style="height:30%">
        </div>
        <% for(var i in messages) { %>
        <div>
            <p><%= messages[i] %></p>
        </div>
        <% } %>
            <form action="/signup" method="POST">
                <div style="width:90%;bottom:0;margin-left:5%">
                    <div class="input-group input-group-lg" style="margin-top:10px;width:90%;margin-left:5%">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group input-group-lg" style="margin-top:10px;width:90%;margin-left:5%">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="input-group input-group-lg" style="margin-top:10px;width:90%;margin-left:5%">
                        <input type="text" name="firstName" class="form-control" placeholder="First Name">
                    </div>
                    <div class="input-group input-group-lg" style="margin-top:10px;width:90%;margin-left:5%">
                        <input type="text" name="lastName" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <input type="submit" class="btn btn-block btn-primary myBtn" value="Signup">
                
            </form>
        <a href="/"><button class="btn btn-block btn-danger myBtn" value="Back">Back</button></a>
        
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>